// FONTS
$defaultFontFamily: "Roboto", sans-serif;

// SIZES
$sm: 640px;

// COLORS
$primary: #e50a4f;
$primaryHover: rgba(243, 65, 122, 0.5);
$primaryActive: rgba(113, 6, 40, 0.5);
$secondary: #ffb700;

$grey1: #f4f4f4;
$grey2: #e7e8e8;
$grey9: #333333;

$light: #ffffff;

$dark: #000000;
$darkAlpha4: rgba(0, 0, 0, 0.4);
