.board {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	max-width: 860px;
	margin: 30px 15px;

	@media (min-width: $sm) {
		margin: 0 0;
	}
}

.restarting {
	display: none;
}
